POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
TEST_POSTGRES_PORT=5432

B2B_DB_NAME=b2b
B2C_DB_NAME=b2c
MODERATION_DB_NAME=moderation

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672/${RABBITMQ_DEFAULT_VHOST}
RABBITMQ_EXCHANGE=datak

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminadmin
MINIO_PORT=9000
MINIO_PANEL_PORT=9001

B2B_APP_PORT=8001
B2B_PUBLIC_PORT=8001
B2B_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${B2B_DB_NAME}
B2B_DATABASE_VERBOSE=false
B2B_SESSION_EXPIRE_SECONDS=3600
B2B_SECRET_KEY=change-me-b2b
B2B_ALGORITHM=HS256
B2B_S3_ENDPOINT=minio:9000
B2B_S3_ACCESS_KEY=${MINIO_ROOT_USER}
B2B_S3_SECRET_KEY=${MINIO_ROOT_PASSWORD}
B2B_S3_BUCKET=b2b-uploads
B2B_MAX_SIZE=5242880
B2B_INBOX_MESSAGES_PROCESSING_DELAY=1
B2B_OUTBOX_MESSAGES_PROCESSING_DELAY=1
B2B_B2C_SERVICE_KEY=change-me-b2c-service-key
B2B_MODERATION_SERVICE_KEY=change-me-moderation-service-key

B2C_APP_PORT=8000
B2C_PUBLIC_PORT=8000
B2C_DEBUG=false
B2C_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${B2C_DB_NAME}
B2C_DATABASE_VERBOSE=false
B2C_SESSION_EXPIRE_SECONDS=3600
B2C_SECRET_KEY=change-me-b2c
B2C_ALGORITHM=HS256
B2C_X_SERVICE_KEY=change-me-b2c-service-key
B2C_B2B_BASE_URL=http://b2b-backend:8001
B2C_B2B_SERVICE_KEY=change-me-b2c-service-key
B2C_B2B_REQUEST_TIMEOUT=5.0
B2C_INBOX_MESSAGES_PROCESSING_DELAY=1
B2C_OUTBOX_MESSAGES_PROCESSING_DELAY=1

MODERATION_APP_PORT=8002
MODERATION_PUBLIC_PORT=8002
MODERATION_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${MODERATION_DB_NAME}
MODERATION_SESSION_EXPIRE_SECONDS=3600
MODERATION_SECRET_KEY=change-me-moderation
MODERATION_ALGORITHM=HS256
MODERATION_RABBITMQ_EXCHANGE=neomarket.events
MODERATION_B2B_SERVICE_KEY=change-me-moderation-service-key
MODERATION_OUTBOX_POLL_INTERVAL_SECONDS=5
MODERATION_IN_REVIEW_CLAIM_TIMEOUT_MINUTES=30
