APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_DB=marketplace-datak
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@b2b-db:5432/marketplace-datak

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest