APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=false

POSTGRES_DB=b2c
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@b2c-db:5432/${POSTGRES_DB}"
DATABASE_VERBOSE=false

SESSION_EXPIRE_SECONDS=3600
SECRET_KEY="your_secret_key_here"
ALGORITHM="HS256"