APP_HOST=0.0.0.0
APP_PORT=8001

POSTGRES_DB=b2b
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@b2b-db:5432/${POSTGRES_DB}"

SESSION_EXPIRE_SECONDS=3600
SECRET_KEY="your_secret_key_here"
ALGORITHM="HS256"

MINIO_USER="admin"
MINIO_PASSWORD="adminadmin"
MINIO_PORT=9000
MINIO_PANNEL_PORT=9001
S3_ENDPOINT=b2b-s3:9000
S3_ACCESS_KEY="admin"
S3_SECRET_KEY="adminadmin"
S3_BUCKET=b2b-uploads
MAX_SIZE=5242880

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=neomarket.events

OUTBOX_WORKER_ENABLED=true
OUTBOX_POLL_INTERVAL_SECONDS=5

B2C_SERVICE_KEY="your_b2c_service_key_here"
MODERATION_SERVICE_KEY="your_moderation_service_key_here"
